.fs-wrapper {
    $border-radius: 5px; // $background-color: #f3f3f4;
    @mixin user-select($val) {
        -webkit-user-select: $val;
        -khtml-user-select: $val;
        -moz-user-select: $val;
        -ms-user-select: $val;
        user-select: $val;
    }
    @mixin border-radius($args) {
        border-radius: $args;
        -webkit-border-radius: $args;
        -moz-border-radius: $args;
        -khtml-border-radius: $args;
    }
    @mixin box-shadow($args) {
        -moz-box-shadow: $args;
        -webkit-box-shadow: $args;
        box-shadow: $args;
    }
    @mixin box-sizing($val) {
        -ms-box-sizing: $val;
        -moz-box-sizing: $val;
        -webkit-box-sizing: $val;
        box-sizing: $val;
    }
    @mixin flex-box() {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
    }
    @include flex-box();
    -webkit-flex-flow: row wrap;
    justify-content: center; // background-color: $background-color;
    .fs-row-header {
        width: 100%;
        height: fit-content;
        padding: 10px;
        background-color: #2f4050;
        .fs-buttons-panel {
            button {
                @include border-radius(3px);
                cursor: pointer;
                padding: 8px;
                margin: 3px;
                color: #a7b1c2;
                background-color: #2f4050;
                border: 1px solid #595c61;
                font-weight: bold;
                &:hover {
                    color: #ffffff;
                    background-color: #243747;
                    border-color: #a7b1c2;
                }
            }
        }
        .fs-finder {
            label {
                color: #bfc6d2;
            }
            select,
            input {
                border: 0;
                height: 20px;
                margin-top: 8px;
            }
            select {
                color: #bfc6d2;
                background-color: #2f4050;
                option {
                    text-align: center;
                }
            }
        }
    }
    .fs-row-table {
        padding: 10px; // background-color: $background-color;
        table {
            @include box-shadow(0 0 $border-radius 2px #7b7b7b);
            @include border-radius($border-radius);
            overflow: hidden;
            border-collapse: collapse;
            background-color: #fff;
            tr {
                @include user-select(none);
                -webkit-touch-callout: none;
                td {
                    padding: 5px 10px;
                    cursor: pointer;
                }
            }
            thead {
                color: #a7b1c2;
                background-color: #2f4050;
                font-weight: bold;
                td {
                    padding: 0.5em;
                    &:hover {
                        background-color: #243747;
                    }
                }
            }
            tbody {
                color: #7b7b7b;
                tr {
                    td {
                        border: 1px solid #dcdde0;
                    }
                    &:nth-child(odd) {
                        background-color: #ebebeb;
                    }
                    &:hover {
                        @include box-shadow(inset 0 0 45px 3px #84c7ff);
                        td {
                            border-left: 1px solid transparent;
                            border-right: 1px solid transparent;
                        }
                    }
                }
            }
        }
    }
    .fs-row-info {
        position: relative;
        width: 50%;
        max-width: 550px;
        height: fit-content;
        padding: 10px;
        text-align: left;
        &>div {
            // @include flex-box();
            @include box-shadow(0 0 $border-radius 2px #7b7b7b);
            @include border-radius($border-radius);
            padding: 10px 25px;
            background-color: #fff;
            div {
                @include flex-box(); // border-bottom: 1px solid #eaeaea;
                @include box-shadow(0 4px 5px -5px #eaeaea); // double groove ridge inset outset
            }
        }
        label {
            display: inline-block;
            font-weight: bold;
            width: 30%;
        }
        span {
            width: 70%;
        }
        button:not(.fs-close-btn) {
            display: block;
            cursor: pointer;
            width: 15%;
            margin-left: auto;
            padding: 0;
            font-weight: bold;
            color: #a7b1c2;
            background-color: #2f4050;
            &:hover {
                background-color: #243747;
                color: #fff;
            }
        }
    }
    .fs-row-add {
        @include flex-box();
        position: relative;
        padding: 10px;
        height: fit-content;
        color: #7b7b7b;
        text-align: right;
        &>div {
            @include flex-box();
            @include box-shadow(0 0 $border-radius 2px #7b7b7b);
            @include border-radius($border-radius);
            padding: 25px 35px 10px 25px;
            background-color: #fff;
        }
        form {
            width: 100%;
            &>div {
                @include flex-box();
                margin: 5px 0;
            }
        }
        label {
            @include box-sizing(border-box);
            display: block;
            text-align: left;
            padding-right: 5px;
            font-weight: 500;
            width: 45%;
        }
        input,
        select {
            @include box-sizing(border-box);
            display: block;
            width: 55%;
            &.dynamical-input {
                width: 70%;
            }
        }
        div {
            &.dynamical-input-block {
                display: inline-block;
                width: 110%;
                margin-right: -12%;
                &>div {
                    @include flex-box();
                    margin: 3px 0;
                }
                button {
                    cursor: pointer;
                    width: 15%;
                    padding: 0;
                    font-weight: bold;
                    color: #a7b1c2;
                    background-color: #2f4050;
                    &:hover {
                        background-color: #243747;
                        color: #fff;
                    }
                }
            }
        }
        button[type='submit'] {
            cursor: pointer;
            margin: auto;
            padding: 3px 8px;
            font-weight: bold;
            color: #a7b1c2;
            background-color: #2f4050;
            border: 2px solid #a7b1c2;
            border-radius: 3px;
            &:hover {
                background-color: #243747;
                color: #fff;
            }
        }
        .fs-message {
            display: block;
            color: #c40000;
            font-size: 12px;
            font-weight: bold;
            text-align: center;
        }
        .fs-import {
            min-width: 300px;
            padding: 15px;
            .file-input-button {
                cursor: pointer;
                display: block;
                width: 150px;
                text-align: center;
                color: #a7b1c2;
                background-color: #2f4050;
                border: 2px solid #a7b1c2;
                border-radius: 3px;
                &:hover {
                    background-color: #243747;
                    color: #fff;
                }
                input[type='file'] {
                    display: none;
                }
            }
            .file-input-message {
                input {
                    width: 250px;
                    border: 0;
                    background-color: unset;
                }
            }
        }
    }
    .fs-close-btn {
        cursor: pointer;
        position: absolute;
        right: 10px;
        font-size: 18px;
        border: 0;
        color: #980000;
        background-color: unset;
        &:hover {
            font-weight: bold;
        }
        &:focus {
            outline: 0;
        }
    }
}